*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
  transition: 0.3s;
     background-color: #0a192f;
     overflow-x: hidden;
     
}

 

.logo{
    font-size: 1.9rem;
    font-weight: bold;
    letter-spacing: 4px;

 color: #f9f9f9;
}


.container{
   background-color: #0a192f;  
    display: flex;
    padding: 1rem;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.burguer{
  visibility: hidden;
}

.navbar{
    display: flex;
    gap: .5rem;
}


.navbar a{
    color: #E0E0E0;
    font-weight: 800;
    cursor: pointer;
    padding: .5rem;
    letter-spacing: 1px;
    font-size: 1.5rem;
    display: block;
}

.navbar a:hover{
    color: #60A5FA;
}



.content h1{
    font-size: 3rem;
    
}

.content h1 span{
    color: #64FFDA;
}
.content p {
    line-height: 2;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    font-weight: 800;
}

.content p span{
    color: #64FFDA;
}

.content{
    width: 100vw;
    height: 80vh !important;
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    margin: 0 auto;
    background-color: #0a192f;  
      align-items: center;
      color: #E0E0E0;   
     
   
}
.content-text{
  margin-bottom: 6rem;
  margin-left: 1rem;
  
}

.content-button{
  margin-top: 2rem;
}

.content-button button{
    border-radius: 0.8rem;
    color: #E0E0E0;
    font-weight: 800;
    font-size: 0.9rem;
    background-color:#2563EB;
    padding: 0.8rem;
    transition: 0.3s;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}

.content-button button:hover{
  background-color: #64FFDA;
  color: #0D1117;
  transform: scale(1.01);
}

.image-container{
  align-items: center;
  margin-top: 4rem;
}


.image-container img{
    width: 50rem;
    margin-right: .5rem;
    justify-content: center;
    align-items: center;
    animation: float 2s ease-in-out infinite alternate;
    position: relative;
}


.form{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    max-width: 100%;
    height: 100%;
    flex-direction: column;
}

.how-works{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem;
  font-size: 2.5rem;
  gap: 1rem;
  flex-direction: column;
  transition: .3s;
}

.how-works h1{
  font-size: 2.5rem;
  color: #E0E0E0;
}

.how-works span{
   color:#60A5FA;
}

.how-works li {
  font-size: 1.5rem;
  align-items: center;
  margin-top: 0.5rem;
  justify-content: center;
  display: flex;
  font-weight: 200;
  flex-wrap: wrap;
  color: #EEEEEE;
}

.services-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem;
  margin-top: 5rem;
  font-size: 2.4rem;
  gap: 1rem;
  color: #E0E0E0;

}

.services-title span{
    color:#60A5FA;

}

main{
  background-color: #0a192f;
}
.services{
  width: 100%;
  height: auto;
  margin: 0.8rem;
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto; 
 
}

.service-content h1{
  font-size: 1.8rem;
  font-weight: 800;
  color: #E0E0E0;
  flex-wrap: wrap;
  margin-top: 0.2rem;
}


.service-content{
  width: 15rem;
  height: 15rem;
  padding: 1.4rem;
  align-items: center;
  flex-wrap: wrap;
  
}

.service-content p{
  font-size: 1.4rem;
  margin-top: 1rem;
  font-weight: 200;
  flex-wrap: wrap;
  color: #EEEEEE;
}
.service-content > i{
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.fa-hand-holding-dollar{
  color: #00FFB2;
}
.fa-headset{
  color:  #FF5722;
}
.fa-pen{
color:#FFB300;
}

.form{
  display: flex;
  justify-content: center;
  background-color: #0a192f;
  margin: 0 auto;
}

.form-title{
  color: #E0E0E0;
  font-size: 2.2rem;
  background-color: #0a192f;
  margin-bottom: 3rem;
  margin-top: 5rem;
}


.form-group{
    margin-bottom: 1rem;
    width: 100%;    
}

.form-group input{
    padding: 20px;
    width: 40rem;
        margin-left: 4rem;

    border-radius: 1.125rem;
    background-color: #E0E0E0;
    border: 2px solid ;
}

.form-group textarea{
    width: 100%;
    resize: vertical;
    padding: 20px;
    width: 40rem;
        margin-left: 4rem;

    background-color: #E0E0E0;
    border-radius: 1.125rem;
    height: 8rem;
    border: 2px solid;
}

.form-group button{
   border-radius: 0.8rem;
    color: #E0E0E0;
    font-weight: 800;
    font-size: 1rem;
    background-color:#2563EB;
    padding: 1rem;
    transition: 0.3s;
    align-items: center;
    justify-content: center;
    display: block;
    cursor: pointer;
    margin-bottom: 3rem;
}
.form button:hover{
  background-color: #64FFDA;
  color: #0D1117;
  transform: scale(1.01);
;
}
.form button:disabled{
  cursor: not-allowed;
}
.whatsapp{

  position: fixed;
  width: 5rem;
  height: 5rem;
  bottom: 2rem;
  right: 2rem;
  font-size: 4rem;
  background-color: #25d366;
  text-align: center;
  border-radius: 5rem;
  box-shadow: 1px 2px 2px #888;
  cursor: pointer;
  z-index: 1000;
}


.whatsapp i{
  color:#E0E0E0;
}

.whatsapp:hover{
  transform: scale(1.1);}



[data-anime]{
  transition: .3s;
}

[data-anime="left"]{
transform: translate3d(50px, 0, 0);
opacity: 0;
}


[data-anime].animate{
  opacity: 1;
  transform: translate3d(0px, 0, 0);
}

footer{
  display: flex;
  padding: 1rem;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: #0D1117;
  color: #B0B0B0;
  cursor: pointer;
  font-size: 0.9rem;
}

footer > p:hover{
  border-bottom: 1px solid #fff;
}

@keyframes float{
0%{
  top: 0;
}
100%{
  top: 1.2rem;
}
}


@media (max-width: 1200px) {
 
  .logo{
    font-size: 1.5rem;
    margin-left: 1rem;
}
  .navbar a {
    font-size: 1.3rem;
  }

  .content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .content h1{
    font-size: 2.5rem;
    margin-top: 3rem;
}

.content p{
  font-size: 1.1rem;
}
.image-container img {
  width: 40rem;
}

}

@media (max-width: 768px){

  .container{
    position: relative;
  }
  .navbar{
     position: absolute;
     display: block;
     top: 0;
     right: 0;
     z-index: 1000;
    height: 0px;
    transition: .6s ease;
    visibility: hidden;
    overflow-y: hidden;
    text-align: center;
  }

  #burguer{
    display: block;
    width: 1.5rem;
    height: 3px;
    border-top: 2px solid;
    margin-bottom: .75rem;
    margin-right: .5rem;
    color: #f9f9f9;
    cursor: pointer;
    
  }

  

  #burguer::after, #burguer::before{
    content: '';
    width: 1.5rem;
    height: 3px;
    margin-top: 4px;
    background: currentColor;
    display: block;

  }

  .navbar li a{
    padding: 1rem 0;
    margin: 0 1rem;
    font-size: 1.1rem;}

  main.active{
    margin-top: 5.5rem;
    transition: .6s ease;
    opacity: 50%;
    
  }

  

  .navbar.active{
    visibility: visible;
    height: calc(100vh - 5rem);
    overflow-y: hidden;
    margin-top: 4rem;
  }

  .navbar.active li a:hover{
    transform: scale(1.05);
  }

  
  .image-container{
    width: 100%;
    height: 58vw;
    display: flex;
    position: relative;
    }
  .image-container img{
    width: 65dvh;
    right: 4em;
  }

  .content h1{
    font-size: 2.4rem;
    
}


.content p {
    line-height: 1.9;
    font-size: 1.1rem;
    margin-top: 1.3rem
}

.form-group input{
    padding: 1rem;
    width: 30rem;
    margin-left: 3rem;

    border-radius: 1.125rem;
    background-color: #E0E0E0;
    border: 2px solid ;
}

.form-group textarea{
    width: 100%;
    resize: vertical;
    padding: 20px;
    width: 30rem;
    margin-left: 3rem;
}


   
}







