:root {
    --primary-bg: #0a192f;
    --dark-bg: #0D1117;
    --primary-accent: #2565EB;
    --primary-accent-hover: #60A5FA;
    --secondary-accent: #64FFDA;
    --text-primary: #E0E0E0;
    --text-secondary: #EEEEEE;
    --text-footer: #B0B0B0;
    --text-inverse: #f9f9f9;
    --icon-color-1: #22C55E;
    --icon-color-2: #EF4444;
    --icon-color-3: #FFB300;
    --border-color: #ccc;
    --placeholder-color: #aaa;
    --whatsapp-bg: #25d366;
    --shadow-color: #888;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Special Gothic", sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
html,body{
  transition: 0.3s;
     background-color: var(--primary-bg);
     overflow-x: hidden;
     
}

 


   .logo-text {
  font-size: clamp(1rem, 3vw, 2rem);
  font-weight: 1000;
  letter-spacing: 5px;
  margin-left: 0.9rem;
  color: var(--text-primary);

  background-color: transparent; /* CORRIGIDO */
}



.logo-img {
  width: 48px;
  height: 48px;
  object-fit: contain;
  display: block;
  object-position: center;
  transform: scale(5.5);

}


.logo {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  gap: 12px;
}
.container{
   background-color: var(--primary-bg);  
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 5rem;
}

.burguer{
  visibility: hidden;
}

.navbar{
    display: flex;
    gap: .5rem;
    margin-top: 1rem;
}



.navbar a{
    color: var(--text-primary);
    font-weight: 800;
    cursor: pointer;
    padding: .5rem;
    letter-spacing: 1px;
    font-size: clamp(0.9rem, 2.5vw, 1.5rem);
    display: block;
}

.navbar a:hover{
    color: var(--primary-accent-hover);
}



.content h1{
    font-size: clamp(1.5rem, 5dvw, 3rem);
    line-height: 1.2;
    margin: 0 auto;
    font-weight: 700;
  }

.content h1 span{
    color: var(--secondary-accent);
    font-weight: 800;
}
.content p {
    line-height: 1.3;
    font-size: clamp(0.95rem, 4dvw, 1.5rem);
    margin-top: 1.5rem;
    font-weight: 500;
}

.content p span{
    color: var(--secondary-accent);
}
header{
  width: 100%;
}
.content{
  background-color: var(--primary-bg);  
    width: 100%;
    height: auto !important;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
      align-items: center;
      color: var(--text-primary);   
     
   
}
.content-text{
  margin-bottom: 10vh;
  margin-left: 1rem;
  padding: .5rem;
  
}

.logo-text > p{
  font-size: clamp(0.7rem, 2vw, 1.2rem);
  font-weight: 200;
  letter-spacing: 2px;
  
}

.content-button{
  margin-top: 2rem;
}

.content-button button{
    border-radius: 0.8rem;
    color: var(--text-primary);
    font-weight: 800;
    font-size: clamp(0.8rem, 2vw, 1rem);
    background-color:var(--primary-accent);
    padding: 0.8rem;
    transition: 0.3s;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}

.content-button button:hover{
  background-color: var(--secondary-accent);
  color: var(--dark-bg);
  transform: scale(1.01);
}

.image-container{
  align-items: center;
  margin-top: 3rem;
  max-width: 55%;
  margin-right: 1rem;
  height: auto;
  margin-bottom: 5rem;
  align-items: center;
  display: flex;
  

}


.image-container img{
    width: 100%;
    height: auto;
    padding-bottom: 2rem;
    margin-left: 20%;
    position: relative;
    left: 0;
    animation: float 2s ease-in-out infinite alternate;

}

dialog{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: rgba(0 0 0 / 0.3);
  background: var(--primary-bg);
  color: #F2F2F2;
  border: none;
  max-width: 90%;
  transition: .3s;
  overflow: hidden;
}
dialog::backdrop{
  background-color: rgba(0 0 0 / 0.5);
  transition: .3s ease;
}
.budget{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.budget-button{
   border-radius: 0.8rem;
    color: var(--text-primary);
    font-weight: 800;
    font-size: clamp(0.8rem, 1.5vw, 1rem);
    background-color:var(--primary-accent);
    padding: 0.8rem;
    transition: 0.3s;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}
.budget > h1{
  font-size: clamp(1.8rem, 5vw, 2rem);
  font-weight: 600;
  margin-bottom: 1rem;
}

.budget > h1 span{
  color: var(--primary-accent);
}

.budget > p {
  text-align: center;
  font-size: clamp(1.2rem, 4vw, 1.5rem);
  margin-bottom: .5rem;
}
.budget-group{
  align-items: center;
  text-align: center;
  padding: .8rem;
  overflow-y: hidden;
}


.budget-group select{
  margin-top: .8rem;
}select{
  margin-top: 10rem;
  padding: .5rem;
  width: 100%;
  border-radius: .1rem;
}



.budget-group input, .budget-group textarea{
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
}

.budget-group textarea{
  resize: vertical;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: .5rem;
}

.form{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 100%;
    flex-direction: column;
}



.how-works{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin: 4rem auto;
  gap: 1rem;
  flex-direction: column;
  transition: .3s;
}

.how-works h1{
  font-size: clamp(1.6rem, 5vw, 2.3rem);
  color: var(--text-primary);
}



.how-works span{
   color:var(--primary-accent-hover);
}

.how-works li {
  align-items: center;
  margin-top: 1rem;
  justify-content: center;
  display: flex;
  font-weight: 200;
  gap: .5rem;
  text-align: center;
  flex-wrap: wrap;
  color: var(--text-secondary);
}

dialog > i {
  color: #F87171;
  font-size: 1.6rem;
  position: absolute;
  right: 1em;
  top: .5em;
  transition: .2s ease;
  cursor: pointer;
}

.works p {
    font-size: clamp(1rem, 3.5vw, 1.8rem);

}

.works i {
    font-size: clamp(1.2rem, 4vw, 2rem);
    transition: 0.3s ease;
    color: #64ffda;
    font-size: 1.2rem;

}

.works i:hover{
  transform: scale(1.15);
  color: #00c9a7;
}




.services-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem;
  margin-top: 5rem;
  font-size: clamp(1.6rem, 5vw, 2.3rem);
  gap: 1rem;
  color: var(--text-primary);

}

.services-title span{
    color:var(--primary-accent-hover);

}

main{
  background-color: var(--primary-bg);
}
.services{
  width: 100%;
  height: auto;
  margin: 0.8rem;
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  margin: 0 auto; 
 
}

.service-content h1{
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-weight: 800;
  color: var(--text-primary);
  flex-wrap: nowrap;
  text-align: center;
  margin-top: 0.2rem;
}


.service-content{
  width: 18rem;
  height: 15rem;
  padding: 1.5rem;
  text-align: center;
 
  align-items: center;
  z-index: 0;
  border-radius: 10px;
  animation: spin 3s linear infinite;
  position: relative;
  background:
    linear-gradient(#0a192f, #0a182d) padding-box,
    conic-gradient(from var(--angle),
      #2565EB,
      #6D28D9
      
    ) border-box;
  border: 3px solid transparent;
}
@property --angle{
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
@keyframes spin{
  from{
    --angle:0deg;  }
    to{
      --angle: 360deg;
    }
}




.service-content:hover{
box-shadow: rgba(100, 255, 218, 0.2) 0px 0px 20px;
transform: translate(-6px);
}



.service-content p{
  font-size: clamp(1rem, 3vw, 1rem);
  margin-top: .5rem;
  font-weight: 300;

  flex-wrap: wrap;
  color: var(--text-secondary);
}
.service-content > i{
  font-size: 1.8rem;
  margin-bottom: .5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fa-hand-holding-dollar{
  color: var(--icon-color-1);
}
.fa-headset{
  color:  var(--icon-color-2);
}
.fa-pen{
color: var(--icon-color-3);
}



.form-title{
  color: var(--text-primary);
  font-size: clamp(1.6rem, 8vw, 2.7rem);
  margin-top: 25vh;
  margin-bottom: 3rem;
}


.form-group{
    margin: .2rem auto;
    height: auto; 
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
}



.form-group input, .form-group textarea {
  padding: 1rem;
  border-radius: 1rem;
  margin-top: .5rem;
  width: 100%;
  display: block;
  border: 2px solid var(--border-color);
  width: 40vw;
  }

  ::placeholder{
    color: var(--placeholder-color);
    opacity: 0.8;
  }

.form-group textarea{
  resize: vertical;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: .5rem;
  height: 15vh;

}

.form-group input:focus{
border: none;

}



.form-group button{
    border-radius: 0.8rem;
    color: var(--text-primary);
    font-weight: 800;
    font-size: clamp(0.8rem, 2vw, 1rem);
    background-color:var(--primary-accent);
    padding: 0.8rem;
    transition: 0.3s;
    align-items: center;
    justify-content: center;
    display: block;
    cursor: pointer;
    margin: 1rem auto;
}
.form button:hover{
  background-color: var(--secondary-accent);
  color: var(--dark-bg);
  transform: scale(1.01);
;
}
.form button:disabled{
  cursor: not-allowed;
}
.whatsapp{

  position: fixed;
  width: 4rem;
  height: 4rem;
  bottom: 1rem;
  right: 2rem;
  font-size: 3rem;
  background-color: var(--whatsapp-bg);
  text-align: center;
  border-radius: 5rem;
  box-shadow: 1px 2px 2px var(--shadow-color);
  cursor: pointer;
  z-index: 1000;
}


.whatsapp i{
  color:var(--text-primary);
}

.whatsapp:hover{
  transform: scale(1.1);}



[data-anime]{
  transition: .3s;
}

[data-anime="left"]{
transform: translate3d(50px, 0, 0);
opacity: 0;
}


[data-anime].animate{
  opacity: 1;
  transform: translate3d(0px, 0, 0);
}

footer{
  display: flex;
  padding: 1rem;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: var(--dark-bg);
  color: var(--text-footer);
  cursor: pointer;
  font-size: 0.9rem;
}

footer > p:hover{
  border-bottom: 1px solid #fff;
}

@keyframes float{
0%{
  top: 0;
}
100%{
  top: 1.2rem;
}
}


@media screen and (max-width: 900px) {
  /* --- Lógica unificada do Menu Mobile --- */
  .container {
    position: relative;
  }

  
.service-content{
  width: 14rem;
  padding: 1.2rem;
box-shadow: rgba(37, 99, 235, 0.3) 0px 1px 3px;
}


 .image-container{
    min-width: auto;
    position: relative;
    right: 1em;
  }
  .image-container img{
    transform: scale(1.4);
  }
  .navbar {
    position: absolute;
    display: block;
    top: 0; /* Posiciona abaixo do header */
    right: 0;
    z-index: 1000;
    height: 0;
    cursor:pointer;
    transition: height 0.6s ease;
    visibility: hidden;
    overflow-y: hidden;
    text-align: center;
  }

  .services{
    gap: .5rem;
  }

 
 

  #burguer {
    display: block;
    width: 1.5rem;
    height: 3px;
    border-top: 2px solid var(--text-inverse);
    margin-bottom: 0.75rem;
    margin-right: 0.5rem;
    color: var(--text-inverse);
    cursor: pointer;
  }

  #burguer::after,
  #burguer::before {
    content: "";
    width: 1.5rem;
    height: 3px;
    margin-top: 4px;
    background: currentColor;
    display: block;
    transition: 0.3s;
  }

  .navbar li a {
    padding: 1rem 0;
    margin: 0 1rem;
  }

  main.active {
    margin-top: 5.5rem;
    transition: 0.6s ease;
    opacity: 50%;
  }

 .navbar.active{
    visibility: visible;
    height: calc(100vh - 4rem);
    overflow-y: hidden;
    margin-top: 4rem;
  }

  .navbar.active li a:hover {
    transform: scale(1.05);
  }
  /* --- Fim da lógica do Menu Mobile --- */


  .logo-img{
    transform: scale(4.5);
  }

  .logo{
    margin-top: 0.5rem;
  }

  .whatsapp {
    right: 1rem;
    bottom: 2rem;
  }

  .content{
    margin-top: 1rem;
  }

  .form-group input,
  .form-group textarea {
    width: 60vw;
  }
}

@media (max-width: 420px) {
  .content{
    flex-direction: column;
    text-align: center;
    margin-top: 10%;
    margin: 0 auto;
    max-width: 100vh;
  }

  .image-container{
    min-width: 80%;
    margin-left: 5%;
    justify-content: center;
  }

  .image-container img{
    min-width: 100%;
    justify-content: center;
  }

  .content-text{
    margin: 0 auto;
  }

  .content-button button{
    margin: 0 auto;
  }

  .logo{
    margin: 0;
  }

  .service-content{
    width: 10rem;
    height: 10rem;
    padding: 0.2rem;
  }

  .form-group{
    margin: 0 auto;
  }

  .form-group input,
  .form-group textarea {
    width: 80vw;
  }

  footer{
    font-size: 0.7rem;
  }

  dialog{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: rgba(0 0 0 / 0.3);
  background: var(--primary-bg);
  color: #F2F2F2;
  border: none;
  min-width: 80%;
  transition: .3s;
  overflow: hidden;
}

.service-content > i{
  font-size: 1.2rem;
}

}